@import "tailwindcss";
@import "flowbite";

@import "preline/variants.css";

/*body {*/
/*    !*@apply bg-slate-50 ;*!*/
/*}*/
.hide-scrollbar::-webkit-scrollbar {
    display: none;
}

:root {
    --color-main: #92549f;
    --color-main-hover: #a259b3;
    --color-main-hover-bank-cards: #bb94c3;
    --color-main-light: #e17bfc;
    --color-main-secondary-light: #cc6ae1;
    --color-second-header: rgba(237, 235, 235, 0.74);
    --color-footer: #f8f1f9;
    --color-favorite: #e79929;
}

.hide-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;     /* Firefox */
}
@layer components {
    .container {
        width: 100%;
        margin-left: auto !important;
        margin-right: auto !important;
        padding-left: 1rem !important;
        padding-right: 1rem !important;
    }
}
.active-button{
    background-color: #324E80 !important;
    color:white !important;
}

#main-header.header-hidden {
    opacity: 0;
    transition: opacity 0.3s ease;
}


.secondary-header {
    position: relative;
    top: auto;
    width: auto;
    z-index: 11;
    background-color: rgba(237, 235, 235, 0.74);
    backdrop-filter: blur(10px);
    height: 70px;
    animation: auto ease 0s 1 normal none running none;
}


.secondary-header-fixed {
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 10;
    background-color: rgba(237, 235, 235, 0.74);
    backdrop-filter: blur(5px);
    height: 70px;
    animation: 0.5s
    ease 0s 1 normal forwards running headerAnimation;

}
@keyframes headerAnimation {
    0% {
        transform: translateY(-30px)
    }

    to {
        transform: translateY(0)
    }
}

.menu-item {
    @apply transform transition-transform duration-200 hover:scale-105;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}



/* Active state */
.splide__pagination__page.is-active {
    @apply !bg-[var(--color-main)]  w-[24px] h-[6px] rounded-[32px] m-[5px];
}

.splide__pagination__page {
    @apply !bg-[var(--color-main-hover)]  w-[6px] h-[6px] rounded-[32px];
}


.is-fav {
    @apply  !bg-[var(--color-favorite)] !text-white

}

.not-fav {
    @apply !bg-transparent !text-slate-500 hover:!text-white hover:!bg-[var(--color-favorite)]
}

.spinner {
    pointer-events: none;
}


.is-fav .btn-text {
    display: none;
}

.not-fav .btn-text {
    display: inline;
}
.fav-btn {
    transition: background-color 0.3s, color 0.3s;
}
.ios-scroll-fix {
    -webkit-overflow-scrolling: touch;
}
