
/*Start - Splide carousel*/
/*.splide {*/
/*    position: relative !important;*/
/*}*/

/*!* Move arrows container on top and center *!*/
.splide .splide__arrow {
    background: #ffffff !important;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}




/*.splide .splide__arrow {*/
/*    background: transparent !important;*/
/*    border-radius: 4px;*/
/*}*/

/*.splide .splide__arrow:hover {*/
/*    background: #0069A8 !important;*/
/*    color: white !important;*/
/*}*/


/*.splide-custom-class-prev {*/
/*    left: -19px !important;*/
/*}*/

/*.splide-custom-class-next {*/

/*    right: -48px!important;*/
/*}*/

/*End - Splide carousel*/
